{% extends "base.html" %}

{% block content %}
<!-- Main Content -->
<div class="main-content">
    <section id="about">
        <h2>About Me</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.Nullam volutpat, nunc nec vestibulum malesuada, ex erat malesuada urna, vel feugiat urna nisi a odio.
            Curabitur aliquet viverra libero a consectetur. In vehicula dapibus orci, vitae tempor metus iaculis ut.
            Phasellus in ligula velit. Aenean malesuada sapien et dui egestas, vitae molestie est dictum.
            Etiam at ex non est hendrerit viverra.
        </p>
    </section>
</div>
{% endblock %}