{% extends "base.html" %}

{% block title %}
    Processing...
{% endblock %}

{% block content %}
<div class="main-content">
    <div class="spinner-container" style="text-align: center; margin-top: 100px;">
        <div class="spinner"></div>
        <p>Processing your data. Please wait...</p>
    </div>

    <script>
        // Simulate a delay and then redirect to the results page
        setTimeout(function() {
            window.location.href = "{{ url_for('results', file_urls=file_urls) }}";
        }, 100000); // Delay for 3 seconds (3000 ms)
    </script>
</div>
{% endblock %}
